
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
            {% for melon in melon_objects %}
        <tr>
            <th>{{ melon[4] }}</th>
            <th>{{ melon[2] }}</th>
            <th>{{ "$%.2f" | format(melon[3]) }}</th>
            <th>{{ "$%.2f" | format(melon[1]) }}</th>
        </tr>
        {% endfor %}
    </table>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}


